<div class="admin-platform-container invitation-box">
	<h1 class="w-100 text-center text-darkgrey">Términos & Condiciones</h1>
	<hr class="hr-secondary" />
	<h4 class="w-100 text-left text-dark">1. Introducción</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		Estos Términos y condiciones regulan el acceso y uso del sitio web
		www.clifoll.com, bajo la responsabilidad de Absquesoft. Cualquier cuestión
		legal relacionada con el sitio web se podrá consultar en las secciones
		Política de privacidad y Política de cookies, que forman parte integral de
		estos Términos y condiciones. El uso de este sitio web por parte de
		cualquier usuario se regirá por los siguientes Términos y condiciones, y su
		uso implica una aceptación de los mismos por el usuario. Si el usuario
		rechaza estos Términos y condiciones, debe cesar el uso del mismo.
		Absquesoft podrá modificar o actualizar, de manera total o parcial, estos
		Términos y condiciones, así como la Política de privacidad y la Política de
		cookies. Cualquier cambio o actualización de estos Términos y condiciones,
		así como los de la Política de privacidad y Política de cookies, entrarán en
		vigor tan pronto como se publiquen en la sección correspondiente del sitio
		web. Se aconseja a los usuarios consultar regularmente las secciones de los
		Términos y condiciones, la Política de privacidad y la Política de cookies
		para comprobar las versiones más actualizadas. El acceso y uso del sitio web
		están disponibles exclusivamente para uso personal y promoción de la
		actividad de Absquesoft. Absquesoft se reserva el derecho de evaluar, a su
		entera discreción, el cumplimiento de estos Términos y condiciones por parte
		de cualquier usuario. La violación de los Términos y condiciones podrá
		implicar la retirada de la licencia de uso concedida por Absquesoft, en
		virtud de esta cláusula n.º 1 y, así, ejercer sus derechos en la máxima
		extensión posible permitida por la ley. Los usuarios se comprometen a
		indemnizar y exonerar a Absquesoft, así como a los representantes legales,
		socios y trabajadores, de cualquier daño, responsabilidades, reclamaciones o
		solicitudes de compensación, incluidos los gastos y costes de
		representación, solicitados por terceros como consecuencia del uso del sitio
		web en disconformidad con estos Términos y condiciones o en virtud de la
		violación de las condiciones previstas en los mismos o que resulten del
		incumplimiento de las representaciones y garantías contenidas en estos
		Términos y condiciones.
	</p>
	<h4 class="w-100 text-left text-dark">2. Licencia</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		Sin perjuicio de lo establecido en las demás cláusulas de estos Términos y
		condiciones, Absquesoft autoriza a cualquier usuario a utilizar este sitio
		web únicamente con fines personales o informativos, según lo previsto en
		estos Términos y condiciones. La licencia de uso podrá ser revocada por
		Absquesoft, a su entera discreción y en cualquier momento. En virtud de la
		ley y de estos Términos y condiciones, el usuario no podrá copiar, utilizar,
		transferir, alquilar, sublicenciar, alterar, adaptar, intentar modificar o
		cambiar el código fuente, realizar operaciones de ingeniería inversa,
		decompilar o desmantelar, de manera total o parcial, el contenido del sitio
		web. Al acceder al sitio web, el usuario reconoce y acepta que el contenido
		del mismo podrá estar incompleto, inexacto, no actualizado o que no podrá
		satisfacer sus necesidades y requisitos.
	</p>
	<h4 class="w-100 text-left text-dark">
		3. Contenido y limitación de responsabilidad de Absquesoft
	</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		El acceso y uso del sitio web, incluida la visualización de páginas web,
		forman parte de las actividades realizadas por los usuarios.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Los usuarios son los únicos y exclusivos responsables por el uso del sitio
		web y de sus contenidos. Absquesoft no es responsable, ni asume
		responsabilidades por el uso (si lo hubiere) del sitio web, no conforme a
		las disposiciones legales en vigor por los usuarios de manera.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		En concreto, los usuarios son los únicos responsables por la comunicación de
		información o datos incorrectos, falsos o de terceros, sin su
		consentimiento, así como por el uso incorrecto de los mismos.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Los contenidos del sitio web pueden contener imprecisiones o errores
		tipográficos. Absquesoft no es, ni podrá ser responsable, por cualquier
		medio o modo, por las imprecisiones y los errores, daños (si existen)
		causados o que resulten del uso de información derivada del sitio web o
		mediante el sitio web por parte de los usuarios. El usuario es el único y
		exclusivo responsable por la evaluación de la información y los contenidos
		obtenidos a través del sitio web.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		El sitio web y toda la información y contenidos publicados en el mismo
		pueden ser modificados por Absquesoft en cualquier momento, periódicamente y
		sin previo aviso.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Considerando que cualquier contenido que se descargue o que se obtenga de
		otro modo, resultan de la decisión libre del usuario y se realizan por su
		cuenta y riesgo, cualquier daño (si existe) a los ordenadores o pérdida de
		datos que resulten de las operaciones de descarga realizadas por el usuario,
		será responsabilidad exclusiva del usuario y no podrá ser atribuida a
		Absquesoft. Absquesoft no asume ninguna responsabilidad por daños (si
		existen) que resulten de la imposibilidad de acceso a los servicios
		ofrecidos a través del sitio web o por datos (si existen) causados por
		virus, archivos dañados, errores, omisiones, interrupciones del servicio,
		cancelación de contenidos, temas relacionados con el Internet, prestadores
		de servicios o con la conexión telefónica o telemática, accesos no
		autorizados, cambios de datos o relacionados con la inexistencia o el mal
		funcionamiento de los dispositivos electrónicos del usuario.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		El usuario es responsable de la custodia y correcto uso de su información
		personal, así como responsable de cualquier daño o perjuicio causado a
		Absquesoft o a terceras partes, que resulten del uso incorrecto, pérdida o
		robo de la información personal.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		En los casos de registro, el usuario es responsable de la custodia y
		correcto uso de sus credenciales, las cuales permiten el acceso al área
		reservada de los servicios. En estas circunstancias, el usuario será
		responsable de ingresar sus datos personales y contraseña. El usuario
		también será responsable por la presentación de información específica, la
		cual deberá ser correcta y actualizada. El usuario no podrá elegir un correo
		electrónico ó nombre de usuario que pertenezca a un tercero con la intención
		de utilizar su identidad. Del mismo modo, el usuario no podrá utilizar el
		correo electrónico ó nombre de usuario de un tercero sin su consentimiento
		expreso.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		El usuario deberá garantizar la confidencialidad de su contraseña y no
		deberá compartirla con terceros.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		El usuario es total y exclusivamente responsable de cualquier acción
		realizada a través de su cuenta de usuario, directamente o mediante terceros
		autorizados por el usuario. Absquesoft podrá revocar la licencia, a su
		entera discreción y en cualquier momento, si se identifica la práctica de
		cualquier acto abusivo, fraudulento o ilegal.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Absquesoft ha adoptado las medidas técnicas y organizativas adecuadas para
		salvaguardar la seguridad de los servicios que se prestan a través del sitio
		web, garantizando la integridad de los datos de tráfico electrónico
		relacionados con las formas de uso o conocimiento no autorizados, así como
		para evitar riesgos de diseminación, destrucción o pérdida de datos e
		información confidencial o no confidencial de sus usuarios, incluidos en el
		sitio web o relacionados con el acceso (no autorizado o en incumplimiento de
		las disposiciones legales aplicables) a dichos datos personales e
		información.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Absquesoft no puede, ni podrá garantizar que el sitio web esté libre de
		virus o de cualquier otro elemento que pueda afectar negativamente la
		tecnología.
	</p>
	<h4 class="w-100 text-left text-dark">
		4. Acceso al sitio Web. Interrupción y suspensión
	</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		Absquesoft hace todo lo posible para proporcionar el acceso continuo al
		sitio web. Sin embargo, el acceso al sitio web podrá ser suspendido,
		limitado o interrumpido, en cualquier momento, independientemente del
		motivo. El acceso al sitio web podrá ser limitado ocasionalmente para
		permitir la recuperación, mantenimiento o introducción de nuevas
		funcionalidades o servicios. Absquesoft hará todo lo posible para recuperar
		el acceso a la mayor brevedad posible. Absquesoft se reserva el derecho de
		bloquear el acceso a cualquier material o eliminar cualquier material que
		pueda, a su entera discreción, provocar la violación de estos Términos y
		condiciones.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Absquesoft se reserva el derecho de cerrar las cuentas de los usuarios que
		violen estos Términos y condiciones, incluso en las situaciones en las que
		se comprueba que el usuario utiliza direcciones IP proxy con la intención de
		ocultar el uso de cuentas múltiples o desea ser identificado como si
		estuviera en un país diferente del cual efectivamente se encuentra o causa
		perturbaciones al funcionamiento del sitio web por cualquier medio.
	</p>
	<h4 class="w-100 text-left text-dark">5. Protección de datos personales</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		Se aconseja a los usuarios que lean y analicen la Política de privacidad,
		que forma parte integral de estos Términos y condiciones, para comprender
		cómo el sitio web recopila y utiliza los datos personales de los usuarios y
		cuáles son sus respectivos fines.
	</p>
	<h4 class="w-100 text-left text-dark">
		6. Derechos de propiedad intelectual
	</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		Todos los derechos son reservados. El sitio web y todos sus contenidos,
		incluidos, sin limitación, artículos, opiniones, otros textos, listas,
		manuales de uso, fotografías, diseños, imágenes, videoclips o audios o
		textos de mercadotecnia, así como marcas, logotipos, nombres de dominio y
		cualquier otro elemento que pueda ser cubierto por derechos de propiedad
		(incluidos los códigos fuente) y otras modalidades de derechos de propiedad
		intelectual (en lo sucesivo, «Material»), son propiedad de Absquesoft o de
		terceros, y están protegidos contra el uso, la copia o la divulgación no
		autorizada por las leyes nacionales y tratados internacionales relacionados
		con los Derechos de Propiedad Intelectual. Ninguna de las disposiciones de
		los Términos y condiciones o de los contenidos en el sitio web podrán
		interpretarse implícitamente otorgando, aceptando o por cualquier medio
		licenciado el derecho de uso de cualquier Material por cualquier medio, sin
		el previo consentimiento por escrito de Absquesoft o del tercero propietario
		del Material o de los derechos de propiedad intelectual publicados en el
		sitio web. El uso, copia, reproducción, alteración, reedición,
		actualización, descarga, envío por correo electrónico, transmisión,
		distribución o duplicación o cualquier otro acto abusivo del Material sin
		identificar específicamente, pero de idéntica naturaleza, están prohibidos.
		En su calidad de usuario del sitio web, el usuario se compromete a no
		utilizar el Material para fines ilegales y a no violar los derechos de
		Absquesoft.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Sin embargo, el usuario podrá ver y exhibir el contenido del sitio web o el
		Material en la pantalla de un ordenador, almacenar dicho contenido en
		formato electrónico en el disco (pero no en un servidor, ni en un
		dispositivo de memoria conectado a Internet) o imprimir una copia de dichos
		contenidos para su uso personal y no comercial, pero debe mantener toda la
		información relacionada con los derechos de propiedad intelectual.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		El acceso al sitio web no confiere al usuario ningún derecho sobre los
		contenidos ofrecidos por Absquesoft
	</p>
	<h4 class="w-100 text-left text-dark">7. Enlaces a otros sitios web</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		Si el sitio web proporciona enlaces («Links») a sitios web de terceros o a
		contenidos ofrecidos por terceros («Otros sitios web»), Absquesoft informa
		que los enlaces, a tales otros sitios web, solo se incluyen para fines
		exclusivamente informativos y para la comodidad del usuario. Absquesoft no
		controla los otros sitios web y, por lo tanto, no es responsable por tales
		otros sitios web o por los contenidos o productos que los otros sitios web
		(incluida, sin limitación, la referencia a las redes sociales) y no es
		responsable por cualquier daño o perjuicio que puedan resultar del uso de
		los otros sitios web por el usuario, así como el tratamiento de datos
		personales durante las operaciones de navegación por Internet. El acceso a
		cualquier Otro sitio web, mediante un enlace existente en el sitio web de
		Absquesoft, se realizará bajo la exclusiva responsabilidad y riesgo del
		usuario.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Por lo tanto, el usuario deberá prestar especial atención al conectarse a
		otros sitios web a través de enlaces en el sitio web de Absquesoft y leer
		cuidadosamente los respectivos términos y condiciones y políticas de
		privacidad.
	</p>
	<h4 class="w-100 text-left text-dark">
		8. Representaciones y garantías del usuario
	</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		El usuario reconoce y declara que:
	</p>
	<ol type="a">
		<li>ha leído y comprendido estos Términos y condiciones;</li>
		<li>
			se abstendrá de reproducir, duplicar, copiar, vender, revender o por
			cualquier medio, explotar comercialmente el sitio web o sus contenidos o
			parte de los mismos, así como se abstendrá de utilizar o reproducir las
			marcas o cualquier derecho de propiedad intelectual o industrial de
			Absquesoft;
		</li>
		<li>
			no publicará o utilizará información falsa, injuriosa o difamatoria;
		</li>
		<li>
			se abstendrá de utilizar, directa o indirectamente, los servicios o el
			sitio web para fines contrarios a la ley o no conformes con los principios
			contenidos en estos Términos y condiciones;
		</li>
		<li>
			no propagará virus, programas espías, software publicitario, rootkit,
			puerta trasera o virus troyanos u otras amenazas informáticas similares;
		</li>
		<li>
			no utilizará software u otros mecanismos automáticos o manuales para
			copiar o acceder al control del sitio web o de su contenido.
		</li>
	</ol>
	<h4 class="w-100 text-left text-dark">9. Disposiciones diversas</h4>
	<p class="text-dark text-justify pl-2 pr-2">
		La nulidad de alguna de las disposiciones contenidas en estos Términos y
		condiciones se habrán de suprimir de estos, quedando las restantes
		disposiciones del mismo en vigor y surtirán sus efectos.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		Este acuerdo se regirá por el derecho costarricense y se interpretará de
		acuerdo con la ley costarricense, de acuerdo con los acuerdos celebrados y
		realizados en este país. A falta de acuerdo entre las partes, los conflictos
		y las controversias de cualquier naturaleza en relación con la formación,
		aplicación o interpretación de este acuerdo, serán resueltos definitivamente
		por los tribunales judiciales de San José, con renuncia expresa a cualquier
		otro.
	</p>
	<p class="text-dark text-justify pl-2 pr-2">
		El usuario podrá ponerse en contacto con nosotros para cualquier pregunta
		relacionada con los Términos y condiciones o para cualquier asunto
		relacionado con el uso del sitio web, mediante correo electrónico a
		Absquesoft
	</p>
</div>
