<h3 class="text-center text-dark-green mt-3 mb-3">
	Bienvenido de vuelta a Clifoll
</h3>

<div class="card col-sm-6 m-auto p-0">
	<div class="card-header" style="background-color: #f1f1f1 !important">
		<h5 class="w-100 m-auto text-center">
			<i class="fa fa-unlock"></i>&nbsp;Recuperación de Contraseña
		</h5>
	</div>
	<div class="card-body">
		<form [formGroup]="passwordForm" autocomplete="off" class="p3">
			<div class="form-row">
				<div class="form-group col-sm-12">
					<label> <small>Nueva Contraseña </small></label
					><small
						*ngIf="passwordForm.controls['password'].errors?.required"
						class="text-danger"
					>
						&nbsp;*
					</small>
					<input
						type="password"
						class="form-control w-100"
						formControlName="password"
						maxlength="18"
					/>
					<small
						*ngIf="passwordForm.controls['password'].errors?.passwordStrengh"
						class="text-danger"
					>
						<i class="fa fa-exclamation-triangle"></i>
						&nbsp;La contraseña debe contar con:
						<ul>
							<li>Una letra mayúscula</li>
							<li>Caracteres especiales ! @ # $ & * + %</li>
							<li>un número</li>
							<li>Mínimo 8 caracteres de longitud</li>
						</ul>
					</small>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12">
					<label for=""> <small>Confirmar Contraseña </small></label
					><small
						*ngIf="passwordForm.controls['confirmPassword'].errors?.required"
						class="text-danger"
					>
						&nbsp;*
					</small>
					<input
						type="password"
						class="form-control w-100"
						formControlName="confirmPassword"
						maxlength="18"
					/>
					<small
						*ngIf="
							passwordForm.controls['confirmPassword'].errors?.confirmPassword
						"
						class="text-danger"
					>
						&nbsp;Las contraseñas no coinciden
					</small>
				</div>
			</div>

			<button type="submit" hidden (click)="recoverPassword()"></button>
		</form>
		<div class="modal-footer">
			<button
				type="button"
				class="btn btn-primary"
				[disabled]="passwordForm.invalid"
				(click)="recoverPassword()"
			>
				Cambiar
			</button>
		</div>
	</div>
</div>
