<div class="modal-header">
	<h4 [hidden]="dataId !== ''" class="modal-title text-dark-green">
		Crear Nuevo Trato
	</h4>
	<h4 [hidden]="dataId === ''" class="modal-title text-dark-green">
		Detalle del Trato
	</h4>
	<button
		type="button"
		class="btn btn-danger close-modal animated fadeIn slower float-right"
		(click)="activeModal.close()"
	>
		<small class="align-middle">
			<i class="fa fa-times" aria-hidden="true"></i>
		</small>
	</button>
</div>
<div class="modal-body animated fadeIn">
	<form [formGroup]="trackingForm" autocomplete="off">
		<ul ngbNav #nav="ngbNav" class="nav-tabs">
			<!--general data-->
			<li ngbNavItem>
				<a ngbNavLink><i class="fa fa-list-alt"></i>&nbsp;Datos Generales</a>
				<ng-template ngbNavContent>
					<div class="form-row mt-2">
						<div class="form-group col-sm-6">
							<div class="form-group float-right w-100 mb-0">
								<label class="mb-0"><small>Código de Referencia</small></label
								>&nbsp;
								<small
									*ngIf="trackingForm.controls.referenceCode.errors?.required"
									class="form-control-feedback mt-1 text-danger"
									>*</small
								>
								<input
									type="text"
									class="form-control w-100"
									id="referenceCode"
									formControlName="referenceCode"
									placeholder="Código de Referencia"
								/>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<div class="form-group w-100 mb-0">
								<label class="mb-0"><small>Seleccionar Cliente</small></label
								>&nbsp;
								<small
									*ngIf="trackingForm.controls['client'].errors?.required"
									class="form-control-feedback mt-1 text-danger"
									>*</small
								>

								<input
									*ngIf="userRole === 'stakeholder'"
									class="form-control w-100"
									placeHolder="Nombre del Cliente"
									formControlName="clientName"
								/>
								<ng-select
									*ngIf="!dataId || (userRole !== '' && userRole === 'owner')"
									[items]="clientsCollection"
									bindValue="_id"
									bindLabel="companyName"
									formControlName="client"
									placeHolder="Seleccionar Cliente"
									(change)="displaySelectedClientContacts($event)"
								></ng-select>
							</div>
						</div>
					</div>

					<div
						class="form-row animated"
					>
						<div class="form-group col-sm-12">
							<div class="form-group float-right w-100 mb-0">
								<label class="mb-0"><small>Título</small></label
								>&nbsp;
								<small
									*ngIf="trackingForm.controls['title'].errors?.required"
									class="form-control-feedback mt-1 text-danger"
									>*</small
								>
								<input
									type="text"
									class="form-control w-100"
									id="title"
									formControlName="title"
									placeholder="Titulo del Registro"
								/>
							</div>
						</div>
					</div>
					<div
						class="form-row animated"
					>
						<div class="form-group col-md-12 mb-0">
							<label class="mb-0"><small>Detalles</small></label
							>&nbsp;
							<small
								*ngIf="trackingForm.controls['comments'].errors?.required"
								class="form-control-feedback mt-1 text-danger"
								>*
							</small>
							<textarea
								class="form-control fixed-maintenance-textarea"
								style="height: 10rem !important"
								id="description"
								rows="6"
								cols="30"
								maxlength="2500"
								placeholder="Ingresar Detalle del Contacto Realizado"
								formControlName="comments"
								autocomplete="ccommets"
							></textarea>
							<div
								*ngIf="
									trackingForm.controls['comments'].value.length > 0 &&
									trackingForm.controls['comments'].value.length < 15
								"
								class="form-control-feedback mt-1"
							>
								<small class="text-danger">
									<i class="fa fa-exclamation-circle"></i>&nbsp; Los Comentarios
									debe tener como mínimo 15 caracteres..
								</small>
							</div>
							<div
								*ngIf="trackingForm.controls['comments'].errors?.maxlength"
								class="form-control-feedback mt-1"
							>
								<small class="text-danger">
									<i class="fa fa-exclamation-circle"></i>&nbsp; Los Comentarios
									tener como máximo 2500 caracteres..
								</small>
							</div>
							<div class="textArea-char-counter text-muted pull-right">
								<small class="">
									*&nbsp;
									{{
										trackingForm.controls.comments.value.length
											? trackingForm.controls.comments.value.length
											: 0
									}}
									/ 2500
								</small>
							</div>
						</div>
					</div>
					<hr
						*ngIf="trackingData?.changesLog?.length"
						class="w-100 mt-0 hr-secondary"
					/>
					<div class="form-row" *ngIf="trackingData && trackingData._id">
						<div class="col-sm-10"></div>
						<div class="form-group col-sm-2">
							<div class="form-group float-right w-100 mb-0">
								<label class="mb-0"><small>Estado</small></label
								>&nbsp;
								<small
									*ngIf="trackingForm.controls['client'].errors?.required"
									class="form-control-feedback mt-1 text-danger"
									>*</small
								>
								<div class="button r switch-activator mt-1">
									<input
										type="checkbox"
										class="checkbox"
										formControlName="isArchived"
									/>
									<div class="knobs"></div>
									<div class="layer"></div>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</li>
			<!--stakeholders-->
			<li ngbNavItem>
				<a ngbNavLink><i class="fa fa-users"></i>&nbsp;Miembros del Equipo</a>
				<ng-template ngbNavContent>
					<div *ngIf="canAddStakeholder" class="w-100 mt-2">
						<div class="form-group w-100 mb-0">
							<label class="mb-0">
								<small> Búsqueda de Interesados </small>
							</label>
							<div class="d-block w-100 text-right">
								<form [formGroup]="userSearchForm" autocomplete="off">
									<input
										class="form-control"
										type="text"
										formControlName="filter"
										placeHolder="Buscar por Correo Electrónico"
									/>
								</form>
								<div
									class="floating-result-container"
									*ngIf="showUserSearchResult"
								>
									<button
										class="btn btn-danger"
										(click)="showUserSearchResult = false"
									>
										<small><i class="fa fa-times"></i></small>
									</button>
									<ul>
										<li
											[hidden]="showSearchingMessage"
											*ngFor="let item of availableUsers"
										>
											<a class="cursor-pointer" (click)="addStakeHolder(item)">
												<div class="d-flex flex-row flex-nowrap p-1">
													<div class="w-20 text-left">
														<img
															*ngIf="
																item.status === 'selected' ||
																item.status === userStatus.confirmed
															"
															class="img-thumbnail profile-image-small"
															[ngClass]="{
																'profile-image-status-created':
																	item.status === userStatus.created,
																'profile-image-status-confirmed':
																	item.status === userStatus.confirmed
															}"
															[src]="
																item.image ||
																'https://absque-public-stuff.s3.amazonaws.com/clifoll/user_icon.png'
															"
															style="width: 54px; height: 54px"
														/>
														<img
															*ngIf="item.status === userStatus.created"
															class="img-thumbnail profile-image-small"
															[ngClass]="{
																'profile-image-status-created':
																	item.status === userStatus.created,
																'profile-image-status-confirmed':
																	item.status === userStatus.confirmed
															}"
															[src]="
																'https://absque-public-stuff.s3.amazonaws.com/clifoll/user_icon_status_created.png'
															"
															style="width: 54px; height: 54px"
														/>
													</div>
													<div class="w-80 text-left">
														<h6
															class="mb-0 ml-2"
															[ngClass]="{
																'text-muted':
																	item.status === userStatus.created,
																'text-dark-green':
																	item.status !== userStatus.created
															}"
														>
															{{ item?.fullName }}
														</h6>
														<p
															class="mt-0 ml-2 mb-0"
															[ngClass]="{
																'text-muted':
																	item.status === userStatus.created,
																'text-dark': item.status !== userStatus.created
															}"
														>
															<small>{{ item?.email }}</small>
														</p>
													</div>
												</div></a
											>
										</li>
										<li *ngIf="showInviteUserMessage">
											<a class="cursor-pointer" (click)="addStakeHolder()">
												<div class="d-flex flex-row flex-nowrap p-1">
													<div class="w-100 p-1 text-left">
														<h5 class="mb-0 ml-1 text-dark-green">
															{{ userSearchForm.controls.filter.value }}
														</h5>
													</div>
												</div>
												<div class="text-left col-sm-12">
													<p class="mt-0 mb-0">
														<small
															>El correo electrónico no se encuentra registrado,
															enviaremos una invitación al correo electrónico
															ingresado</small
														>
													</p>
												</div>
											</a>
										</li>
										<li *ngIf="showSearchingMessage">
											<div class="d-flex flex-row flex-nowrap p-1">
												<div class="w-100 p-1 text-left">
													<h6 class="mb-0 ml-1 text-dark">
														<i class="fa fa-exclamation-circle text-orange"></i
														>&nbsp; No se ha encontrado un correo electrónico
														relacionado
													</h6>
													<p class="mt-0 mb-0">
														<small
															>Ingrese un correo electrónico valido para enviar
															una invitación</small
														>
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="w-100">
						<div *ngIf="stakeholders.length > 0" class="form-row">
							<div class="col-sm-12" style="overflow-y: scroll">
								<ul class="mt-2 list">
									<li *ngFor="let stakeholder of stakeholders; let i = index">
										<div class="d-flex flex-row flex-nowrap p-1">
											<div class="w-20 text-center">
												<img
													*ngIf="stakeholder.status === userStatus.confirmed"
													class="img-thumbnail profile-image-small"
													[ngClass]="{
														'profile-image-status-created':
															stakeholder.status === userStatus.created,
														'profile-image-status-confirmed':
															stakeholder.status === userStatus.confirmed
													}"
													[src]="
														stakeholder.image ||
														'https://absque-public-stuff.s3.amazonaws.com/clifoll/user_icon.png'
													"
												/>
												<img
													*ngIf="stakeholder.status === userStatus.created"
													class="img-thumbnail profile-image-small"
													[ngClass]="{
														'profile-image-status-created':
															stakeholder.status === userStatus.created,
														'profile-image-status-confirmed':
															stakeholder.status === userStatus.confirmed
													}"
													[src]="
														'https://absque-public-stuff.s3.amazonaws.com/clifoll/user_icon_status_created.png'
													"
												/>
											</div>
											<div class="w-80 text-left">
												<a
													class="cursor-pointer"
													(click)="openUserInfoDetailModal(stakeholder)"
												>
													<h6
														class="mb-0 ml-2"
														[ngClass]="{
															'text-muted':
																stakeholder.status === userStatus.created,
															'text-dark-green':
																stakeholder.status !== userStatus.created
														}"
													>
														<i
															class="fa"
															[ngClass]="{
																'fa-user-check':
																	stakeholder.invitationStatus === 'accepted',
																'fa-user-clock':
																	stakeholder.invitationStatus !== 'accepted',
																'text-muted':
																	stakeholder.invitationStatus !== 'accepted',
																'text-dark-green':
																	stakeholder.invitationStatus === 'accepted'
															}"
														></i
														>&nbsp;
														{{ stakeholder?.fullName }}
													</h6>
													<p
														class="mt-0 ml-2 mb-0"
														[ngClass]="{
															'text-muted':
																stakeholder.status === userStatus.created,
															'text-dark':
																stakeholder.status !== userStatus.created
														}"
													>
														<small
															><i class="fa fa-envelope"></i>&nbsp;{{
																stakeholder?.email
															}}</small
														>
													</p>
												</a>
											</div>
											<div class="w-10 text-center align-middle">
												<a
													*ngIf="canRemoveStakeholders"
													role="button"
													class="text-danger cursor-pointer position-relative"
													style="top: 0.6rem; right: 0.15rem; font-size: 20px"
													(click)="removeStakeHolder(stakeholder.email)"
												>
													<i class="fa fa-trash"></i>
												</a>
											</div>
										</div>
										<hr
											*ngIf="
												stakeholders.length > 1 && i < stakeholders.length - 1
											"
											class="mb-0 mb-1 hr-secondary w-100"
										/>
									</li>
								</ul>
							</div>
						</div>
						<div *ngIf="!stakeholders.length" class="form-row">
							<div class="col-sm-12 text-center align-middle">
								<h4 class="text-muted mt-3 mb-3 text-center">
									No hay Interesados asociados
								</h4>
							</div>
						</div>
					</div>
				</ng-template>
			</li>
			<!--next action-->
			<li ngbNavItem>
				<a ngbNavLink><i class="fa fa-calendar"></i>&nbsp;Siguiente Acción</a>
				<ng-template ngbNavContent>
					<div class="form-row mt-2">
						<div class="form-group col-sm-3 mb-0">
							<div class="form-group float-right w-100">
								<label class="mb-0"
									><small>Fecha de Recordatorio</small></label
								>
								<div class="input-group date" data-provide="datepicker">
									<input
										type="date"
										class="form-control"
										[min]="minSelectableDate"
										formControlName="scheduleDate"
									/>
								</div>
							</div>
						</div>
						<div class="form-group col-sm-3 mb-0">
							<div class="form-group float-right w-100">
								<label class="mb-0"
									><small>Hora de Recordatorio</small></label
								>
								<div class="input-group date" data-provide="datepicker">
									<input
										type="time"
										class="form-control"
										formControlName="scheduleHour"
									/>
								</div>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<div class="form-group w-100 mb-0">
								<label class="mb-0"><small>Miembro a Cargo</small></label
								>&nbsp;
								<small
									*ngIf="trackingForm.controls.teamMemberInCharge.errors?.required"
									class="form-control-feedback mt-1 text-danger"
									>*</small
								>
								<ng-select
									[items]="clientsCollection"
									bindValue="_id"
									bindLabel="companyName"
									formControlName="teamMemberInCharge"
									placeHolder="Seleccionar Cliente"
								></ng-select>
							</div>
						</div>
					</div>

					<div
						class="form-row animated"
					>
						<div class="form-group col-sm-12">
							<div class="form-group float-right w-100 mb-0">
								<label class="mb-0"><small>Titulo</small></label
								>&nbsp;
								<small
									*ngIf="trackingForm.controls['title'].errors?.required"
									class="form-control-feedback mt-1 text-danger"
									>*</small
								>
								<input
									type="text"
									class="form-control w-100"
									id="title"
									formControlName="title"
									placeholder="Titulo del Registro"
								/>
							</div>
						</div>
					</div>
					<div
						class="form-row animated"
					>
						<div class="form-group col-md-12 mb-0">
							<label class="mb-0"><small>Detalle de la Acción</small></label
							>&nbsp;
							<small
								*ngIf="trackingForm.controls['comments'].errors?.required"
								class="form-control-feedback mt-1 text-danger"
								>*
							</small>
							<textarea
								class="form-control fixed-maintenance-textarea"
								style="height: 10rem !important"
								id="description"
								rows="6"
								cols="30"
								maxlength="2500"
								placeholder="Ingresar Detalle del Contacto Realizado"
								formControlName="comments"
								autocomplete="ccommets"
							></textarea>
							<div
								*ngIf="
									trackingForm.controls['comments'].value.length > 0 &&
									trackingForm.controls['comments'].value.length < 15
								"
								class="form-control-feedback mt-1"
							>
								<small class="text-danger">
									<i class="fa fa-exclamation-circle"></i>&nbsp; Los Comentarios
									debe tener como mínimo 15 caracteres..
								</small>
							</div>
							<div
								*ngIf="trackingForm.controls['comments'].errors?.maxlength"
								class="form-control-feedback mt-1"
							>
								<small class="text-danger">
									<i class="fa fa-exclamation-circle"></i>&nbsp; Los Comentarios
									tener como máximo 2500 caracteres..
								</small>
							</div>
							<div class="textArea-char-counter text-muted pull-right">
								<small class="">
									*&nbsp;
									{{
										trackingForm.controls.comments.value.length
											? trackingForm.controls.comments.value.length
											: 0
									}}
									/ 2500
								</small>
							</div>
						</div>
					</div>
					
				</ng-template>
			</li>
			<!--configuration-->
			<li
				*ngIf="!dataId || (userRole !== '' && userRole === 'owner')"
				ngbNavItem
			>
				<a ngbNavLink><i class="fa fa-gear"></i>&nbsp;Configuración</a>
				<ng-template ngbNavContent>
					<ul class="col-sm-12 selectable-list">
						<li
							*ngIf="trackingForm.controls.trackingType.value === '0001'"
							class=""
						>
							<div class="d-flex flex-row flex-nowrap justify-content-between">
								<h6 class="w-80">
									Interesados pueden ver contactos del cliente
								</h6>
								&nbsp;
								<div class="button r switch-activator mt-1">
									<input
										type="checkbox"
										class="checkbox"
										formControlName="canSeeClientContactsList"
									/>
									<div class="knobs"></div>
									<div class="layer"></div>
								</div>
							</div>
						</li>
						<li class="">
							<div class="d-flex flex-row flex-nowrap justify-content-between">
								<h6 class="w-80">Interesados pueden modificar este registro</h6>
								&nbsp;
								<div class="button r switch-activator mt-1">
									<input
										type="checkbox"
										class="checkbox"
										formControlName="canModify"
									/>
									<div class="knobs"></div>
									<div class="layer"></div>
								</div>
							</div>
						</li>
						<li class="">
							<div class="d-flex flex-row flex-nowrap justify-content-between">
								<h6 class="w-80">
									Interesados pueden invitar a otras personas
								</h6>
								&nbsp;
								<div class="button r switch-activator mt-1">
									<input
										type="checkbox"
										class="checkbox"
										formControlName="canInvitePeople"
									/>
									<div class="knobs"></div>
									<div class="layer"></div>
								</div>
							</div>
						</li>
						<li class="">
							<div class="d-flex flex-row flex-nowrap justify-content-between">
								<h6 class="w-80">
									Interesados pueden eliminar otros invitados
								</h6>
								&nbsp;
								<div class="button r switch-activator mt-1">
									<input
										type="checkbox"
										class="checkbox"
										formControlName="canRemoveStakeholders"
									/>
									<div class="knobs"></div>
									<div class="layer"></div>
								</div>
							</div>
						</li>
					</ul>
				</ng-template>
			</li>
		</ul>
		<div [ngbNavOutlet]="nav"></div>
	</form>
</div>
<div class="modal-footer">
	<button
		*ngIf="userRole === 'stakeholder'"
		type="button"
		class="btn btn-warning"
		(click)="leaveDeal()"
		[disabled]="userRole !== 'stakeholder'"
	>
		<i class="fa fa-sign-out"></i>&nbsp;Abandonar Seguimiento</button
	>&nbsp;
	<button
		*ngIf="showSaveButton"
		type="submit"
		class="btn btn-success"
		(click)="save()"
		[disabled]="trackingForm.invalid"
	>
		Guardar
	</button>
</div>
