<div class="modal-header">
  <h4 class="modal-title text-dark-green"><i class="fa fa-key"></i>&nbsp;Cambio de Contraseña</h4>
	<button
		type="button"
		class="btn btn-danger close-modal animated fadeIn slower float-right"
		(click)="activeModal.close()"
	>
		<small class="align-middle">
			<i class="fa fa-times" aria-hidden="true"></i>
		</small>
	</button>
</div>
<div class="modal-body animated fadeIn">
  <div class="col-sm-12">
    <form [formGroup]="passwordForm" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for=""><small> Contraseña Actual</small> </label>
          <small
            *ngIf="passwordForm.controls['currentPassword'].errors?.required"
            class="text-danger"
          >
            &nbsp;*
          </small>
          <input
            type="password"
            class="form-control w-100 text-lowercase"
            formControlName="currentPassword"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label> <small>Nueva Contraseña </small></label
          ><small
            *ngIf="passwordForm.controls['password'].errors?.required"
            class="text-danger"
          >
            &nbsp;*
          </small>
          <input
            type="password"
            class="form-control w-100"
            formControlName="password"
            maxlength="18"
          />
          <small
            *ngIf="passwordForm.controls['password'].errors?.passwordStrengh"
            class="text-danger"
          >
            <i class="fa fa-exclamation-triangle"></i>
            &nbsp;La contraseña debe contar con:
            <ul>
              <li>Una letra mayúscula</li>
              <li>Caracteres especiales ! @ # $ & * + %</li>
              <li>un número</li>
              <li>Mínimo 8 caracteres de longitud</li>
            </ul>
          </small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for=""> <small>Confirmar Nueva Contraseña </small></label
          ><small
            *ngIf="passwordForm.controls['confirmPassword'].errors?.required"
            class="text-danger"
          >
            &nbsp;*
          </small>
          <input
            type="password"
            class="form-control w-100"
            formControlName="confirmPassword"
            maxlength="18"
          />
          <small
            *ngIf="
              passwordForm.controls['confirmPassword'].errors?.confirmPassword
            "
            class="text-danger"
          >
            &nbsp;Las contraseñas no coinciden
          </small>
        </div>
      </div>

      <button type="submit" hidden (click)="changePassword()"></button>
    </form>
    <div class="modal-footer animated fadeIn slow">
      <button
        type="button"
        class="btn btn-outline-success"
        [disabled]="passwordForm.invalid"
        (click)="changePassword()"
      >
        Cambiar
      </button>
    </div>
  </div>
</div>
