<!-- Footer -->
<footer class="page-footer stickie-footer font-small">
	<div class="footer-layout w-60 m-auto d-block">
		<p class="w-100 text-center text-muted mb-0"><small>Creado por</small></p>
		<div class="w-50 footer-img mt-0 mb-0">
			<a class="cursor-pointer" href="https://www.absquesoft.com" target="_blank">
				<img
					src="https://absque-public-stuff.s3.amazonaws.com/ABSQUESOFT-LOGO-transparent-footer.png"
					class=""
					alt=""
				/>
			</a>
		</div>
	</div>
	<!-- Copyright -->
	<p class="text-center bg-light">
		<small>absquesoft. todos los derechos reservados</small>
	</p>
</footer>
<!-- Footer -->
